<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 appHighlight>
    Welcome to {{ title }}!
    <!-- <app-test></app-test> -->
  </h1>
  <app-highlight-check></app-highlight-check>
<!-- <app-child1 [name1]="inputname" (child1op)="c1handler($event)" #child1></app-child1>
<app-child3 [name3]="child1.outputname"></app-child3>
 {{outputname}} -->
<button (click)="changeTitle()">Change Title</button>

<app-todolist [todos]="todos"></app-todolist>
<router-outlet></router-outlet>
